.jumb{
    margin-top:90px;
}

img{
    display: block;
    /* margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px; */
    /* align-content: center; */
    margin: auto;
    /* justify-content: center; */
 }